Привееет!<br>
<br>
На связи AlgaProjects!<br>
<br>
Я призван помочь тебе менеджерить проекты в ноушене.<br>
<br>
Чтобы легче было ориентироваться:<br>
- `/help` — список команд и мои возможности<br>
- `/addToken` — добавить токен<br>
- `/deleteToken` — удалить токен<br>
- `/updateToken` — обновить токен<br>
- `/addDb` — добавить базу данных<br>
<br>
Контакты:<br>
- t.me/KindArthas — разработчик<br>
<br>

